<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
	<connectionStrings>
  <add name="AdministracionEntities" connectionString="metadata=res://*/ModeloAdministrativoDB.csdl|res://*/ModeloAdministrativoDB.ssdl|res://*/ModeloAdministrativoDB.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=(LocalDB)\MSSQLLocalDB;attachdbfilename=C:\Users\juani\source\repos\SistemaAdminitrativo\Datos\Administracion.mdf;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;"
   providerName="System.Data.EntityClient" />
  <add name="Presentacion.Properties.Settings.AdministracionConnectionString"
   connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=C:\Users\juani\source\repos\SistemaAdminitrativo\Datos\Administracion.mdf;Integrated Security=True;Connect Timeout=30"
   providerName="System.Data.SqlClient" />
 </connectionStrings>
</configuration>